h2 {
  text-align: center;
  font-family: Helvetica;
}

#container {
  height: 800px;
  width: 800px;
  margin: 25px auto;
}

.grid_item {
  height: 50px;
  width: 50px;
  background-color: #B0B0B0;
  display: inline-block;
  vertical-align: top;
  float: left;
}